<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>

<ul>
    <% @manufacturers.each do |manufacturer| %>
        <li><%= link_to manufacturer.name, manufacturer_path(manufacturer.id) %></li>
    <% end %>
</ul>