<div class="page-show">
  <div>
    <table style="width:100%; text-align:center">
      <tr>
        <th>Fabricantes de carro</th>
      </tr>
      <tr>
        <td><%= @manufacturer.name %></td>
      </tr>
    </table>
  </div>
  <div class="pt-5">
    <p>
      <%= link_to 'Editar', edit_manufacturer_path(@manufacturer) %>
    </p>
    <p>
      <%= link_to 'Voltar', manufacturers_path %>
    </p>
  </div>
</div>
